<main>
  <div class="breadcrumb p_global">
    <div class="container">მთავარი</div>
  </div>
  <div class="home-page">
    <div class="banner">
      <div class="banner-content">
        <h1>თიბისი კონცეპტი</h1>
        <p>
          პერსონალური საბანკო მომსახურება, მორგებული თქვენს საჭიროებებსა და
          ინტერესებზე
        </p>
        <div href="#" class="subscribe-button">
          <img src="/logos/white-arrow.svg" /> 
          <span>გამოიწერეთ</span>
        </div>
        </div>
      </div>
    </div>
  </div>
</main>
