<footer class="bw">
  <div class="footer-top">
    <div class="plf">
      <div class="container df">
        <img
          src="/logos/mobile-header.svg"
          alt="Concept Logo"
          class="footer-logo"
        />
        <div class="language db">
          <div class="language-change cursor">
            <div class="language-icon">
              <img src="/logos/lg-icon.svg" alt="language-icon" />
            </div>
            <div>ქარ</div>
          </div>
          <div class="language-menu">
            <div class="eng">Eng</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-main">
    <div class="">
      <div class="container">
        <div class="footer-menu">
          <div class="footer-menu_tab">
            <div class="menu_dropdown">
              <div class="menu_dropdown-toggle">
                <div class="d_cursor fs-16">პროდუქტები</div>
              </div>
              <nav class="menu_dropdown-list">
                <a href="#">ნაკრები</a>
                <a href="#">პერსონალური ბანკირი</a>
              </nav>
            </div>
          </div>

          <div class="menu-menu_tab">
            <div class="menu_dropdown">
              <div class="menu_dropdown-toggle">
                <div class="d_cursor fs-16">Lifestyle</div>
              </div>
              <nav class="menu_dropdown-list">
                <a href="#">შეთავაზებები</a>
                <a href="#">ღონისძიებები</a>
              </nav>
            </div>
          </div>

          <div class="menu-menu_tab">
            <div class="menu_dropdown">
              <div class="menu_dropdown-toggle">
                <div class="d_cursor fs-16">კონცეპტის სივრცე</div>
              </div>
              <nav class="menu_dropdown-list">
                <a href="#">ბიბლიოთეკა</a>
                <a href="#">კაფე</a>
              </nav>
            </div>
          </div>

          <div class="ft-contact">
            <div class="footer-menu_tab">
              <div class="menu_dropdown">
                <div class="contact-us">
                  <div class="d_cursor ft-c pt-24">დაგვიკავშირდით:</div>
                </div>
                <nav class="contact-us">
                  <a href="#" class="ft-contact">
                    <img src="/logos/phone.svg" />&nbsp; +995 32 2 27 27 00</a
                  >
                  <a href="#" class="ft-contact">
                    <img src="/logos/email.svg" />&nbsp; info@tbcconcept.ge</a
                  >
                  <a href="#" class="ft-contact"
                    ><img src="/logos/location.svg" />&nbsp; ფილიალები</a
                  >
                </nav>
              </div>
            </div>
            <div class="social">
              <h4>სოციალური ქსელები</h4>
              <div class="footer-social">
                <div class="footer-soc-link cursor" href="#">
                  <img src="/logos/facebook.svg" alt="Facebook" />
                </div>
                <div class="footer-soc-link cursor ml-6" href="#">
                  <img src="/logos/inst.svg" alt="Instagram" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-bottom">
        <div class="container df dlf">
          <div class="rights">
            <img src="/logos/mobile-header.svg" alt="Logo" />
            <span>2024 ყველა უფლება დაცულია</span>
          </div>
          <div class="footer-bottom-links">
            <a href="#">კონფიდენციალურობა</a>
            <a href="#">წესები და პირობები</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
