<footer class="plf bw">
  <div class="footer-top">
    <div class="plf">
      <div class="container df">
        <img src="/logos/header.svg" alt="Concept Logo" class="footer-logo" />
        <div class="language">
          <div class="language-change cursor">
            <div class="language-icon">
              <img src="/logos/lg-icon.svg" alt="language-icon" />
            </div>
            <div>ქარ</div>
          </div>
          <div class="language-menu">
            <div class="eng">Eng</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-main">
    <div class="plf">
      <div class="container">
        <ul class="footer-menu">
          <li>
            <h4>პროდუქტები</h4>
            <ul>
              <li><a href="#">ნაკრები</a></li>
              <li><a href="#">პერსონალური ბანკირი</a></li>
            </ul>
          </li>
          <li>
            <h4>Lifestyle</h4>
            <ul>
              <li><a href="#">შეთავაზებები</a></li>
              <li><a href="#">ღონისძიებები</a></li>
            </ul>
          </li>
          <li>
            <h4>კონცეპტის სივრცე</h4>
            <ul>
              <li><a href="#">ბიბლიოთეკა</a></li>
              <li><a href="#">კაფე</a></li>
            </ul>
          </li>
          <li>
            <h4>დაგვიკავშირდით:</h4>
            <ul>
              <li><a href="tel:+99532222727">+995 32 2 27 27 00</a></li>
              <li>
                <a href="mailto:info@tbcconcept.ge">info@tbcconcept.ge</a>
              </li>
              <li><a href="#">ფილიალები</a></li>
            </ul>
            <div>
              <h4>სოციალური ქსელები</h4>
              <div class="footer-social">
                <div class="footer-soc-link cursor" href="#">
                  <img src="/logos/facebook.svg" alt="Facebook" />
                </div>
                <div class="footer-soc-link cursor ml-6" href="#">
                  <img src="/logos/inst.svg" alt="Instagram" />
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-bottom bw">
    <div class="container df dlf">
      <p>&copy; 2024 ყველა უფლება დაცულია</p>
      <div class="footer-bottom-links">
        <a href="#">კონფიდენციალურობა</a>
        <a href="#">წესები და პირობები</a>
      </div>
    </div>
  </div>
</footer>
