<header class="plf plf-mobile">
  <div class="header-nav container">
    <a href="#" class="main-logo">
      <div class="header-logo">
        <img src="/logos/header.svg" alt="main-logo" />
      </div>
      <div class="mobile-logo">
        <img src="/logos/mobile-header.svg" alt="mobile-logo" />
      </div>
    </a>
    <nav class="header_menu">
      <ul>
        <li>
          <a href="#">პროდუქტები</a>
        </li>
        <li>
          <a href="#">შეთავაზებები</a>
        </li>
        <li>
          <a href="#">კონცეპტის სივრცე</a>
        </li>
      </ul>
    </nav>
    <div class="right-nav">
      <div class="search-icon">
        <img src="/logos/search.svg" alt="search" />
      </div>
      <div class="subscribe">
        <img src="/logos/left-arrow.svg" alt="search" />
        <span href="#" class="subscribe">გამოიწერეთ ნაკრები</span>
      </div>
      <div class="language">
        <div class="language-change cursor">
          <div class="language-icon">
            <img src="/logos/lg-icon.svg" alt="language-icon" />
          </div>
          <div>ქარ</div>
        </div>
        <div class="language-menu">
          <div class="eng">Eng</div>
        </div>
      </div>
      <div class="burger">
        <img src="/logos/burger.png" alt="menu" />
      </div>
    </div>
  </div>
</header>
