.header-nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 20px; */
  background-color: #fff;
}

.header-logo {
  display: flex;
}

.main-logo .mobile-logo {
  display: none;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 32px;
}

nav a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
}

.right-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-icon {
  padding-top: 6px;
}

.right-nav .subscribe {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #182cc0;
  font-weight: bold;
}

.subscribe img {
  margin-right: 6px;
}

.subscribe span {
  font-size: 14px;
}

.right-nav .language {
  color: #555;
  font-weight: bold;
}

.language-change {
  height: 36px;
  grid-column-gap: 4px;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  font-weight: 700;
  transition: background-color 0.25s ease-in-out;
  display: flex;
}

.language-icon {
  justify-content: center;
  align-items: center;
  display: flex;
}

.language {
  position: relative;
  display: inline-block;
  border-radius: 4px;
}

.language-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 4px;
  padding: 6px 0;
  color: #141719;
  background-color: #fff;
  border: 1px solid #e1e4e5;
  border-radius: 4px;
  font-weight: 500;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
}

.language:hover .language-menu {
  display: block;
}

.language:hover {
  background-color: #eef1f1;
}

.language:hover .language-menu,
.language .language-menu:hover {
  display: block;
  opacity: 1;
  visibility: visible;
}
.eng {
  width: 100%;
  color: #555;
  font-weight: bold;
  text-align: center;
}

.burger,
.mobile-logo {
  display: none;
  img {
    max-width: 37px;
  }
}

@media screen and (max-width: 1120px) {
  nav,
  .language {
    display: none;
  }
  .burger {
    display: inline-block;
  }
  .logo {
    width: 36px;
  }
}

@media screen and (max-width: 767px) {
  .header-logo {
    display: none;
  }
  .main-logo .mobile-logo {
    display: inline-block;
  }
  .header-nav {
    padding: 0;
  }

  .subscribe span {
    font-size: 12px;
  }
}
