<header class="plf plf-mobile">
  <div class="header-nav container">
    <a href="#" class="main-logo">
      <div class="header-logo">
        <img src="/logos/header.svg" alt="main-logo" />
      </div>
      <div class="mobile-logo">
        <img src="/logos/mobile-header.svg" alt="mobile-logo" />
      </div>
    </a>
    <nav class="header_nav">
      <div class="nav_dropdown n_dropdown">
        <div
          class="nav_dropdown-toggle n_dropdown-toggle"
          data-dropdown="products"
        >
          <div>პროდუქტები</div>
          <div class="nav_dropdown-line"></div>
        </div>
      </div>
      <div class="nav_dropdown n_dropdown">
        <div
          class="nav_dropdown-toggle n_dropdown-toggle"
          data-dropdown="offers"
        >
          <div>შეთავაზებები</div>
          <div class="nav_dropdown-line"></div>
        </div>
      </div>
      <div class="nav_dropdown n_dropdown">
        <div
          class="nav_dropdown-toggle n_dropdown-toggle"
          data-dropdown="concept"
        >
          <div>კონცეპტის სივრცე</div>
          <div class="nav_dropdown-line"></div>
        </div>
      </div>
    </nav>

    <div class="right-nav">
      <div class="search-icon">
        <img src="/logos/search.svg" alt="search" />
      </div>
      <div class="subscribe">
        <img src="/logos/left-arrow.svg" alt="search" />
        <span href="#" class="subscribe">გამოიწერეთ ნაკრები</span>
      </div>
      <div class="language">
        <div class="language-change cursor">
          <div class="language-icon">
            <img src="/logos/lg-icon.svg" alt="language-icon" />
          </div>
          <div>ქარ</div>
        </div>
        <div class="language-menu">
          <div class="eng">Eng</div>
        </div>
      </div>
      <div class="burger">
        <img src="/logos/burger.png" alt="menu" />
      </div>
    </div>

    <div class="active_dropdown_container">
      <div class="dropdown_content">
        <div class="dropdown_sec">
          <div class="dropdown_image">
            <img src="/img/cards.png" alt="Dropdown Image" />
          </div>

          <div class="txt_sec">
            <img src="/logos/arrow-up.svg" />
            <span> ციფრული ბანკი </span>
          </div>
        </div>

        <div class="dropdown_list"></div>
      </div>
    </div>
  </div>
</header>
